<!-- Header -->

<!-- Navbar -->
<mat-toolbar color="primary">
    <button mat-icon-button aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <!-- Application can be reloaded -->
    <button mat-raised-button [routerLink]="['']" aria-label="Logo">
        <img class="logoToolBar" 
        src="/assets/images/pc-logo.svg" alt="logo" />
    </button>
    <span class="flexAuto"></span>
    <!-- Dummy text field -->
    <mat-form-field>
        <input matInput>
        <button mat-button matPrefix mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <!-- State Subscription for cart Count -->
    <button mat-icon-button>
        <mat-icon matBadge="{{ getCartCount() }}" matBadgeColor="warn"
            (click)="viewCart()">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button aria-label="wish list">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>
<!-- /Navbar -->
<!-- /Header -->